:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 0.9rem;
    --z-fixed: 100
}

.l-navbar::-webkit-scrollbar,
.nav::-webkit-scrollbar {
    display: none;
}

body {
    color: white;
    position: static;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
}

a {
    text-decoration: none
}

.header {
    background-color: rgb(21, 126, 247);
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
}

.header_toggle {
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer
}

.header_toggle {
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: #203759;
    transition: .5s;
    left: 0;
    padding: 1rem 0.9rem 0 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav {
    position: static;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_link {
    color: white;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0rem 0 .2rem .5rem
}
 
.logo, #adm_logo , #adm_logo_2{
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5rem;
    margin: 0.1rem;
    max-height: 3rem;
}

#adm_logo, #adm_logo_2 {
    margin: 0.5rem;
    background-color: #2e323e;
    position: relative;
    border-radius: 60%;
}

#adm_logo{
    top: -3.5rem;
    min-height: 4rem;
}
 
.logo {
    background-color: #203759;
}
.expanded_logo {
    background-color: #203759;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 12rem;
    display: none;
}

.show {
    width: calc(var(--nav-width) + 156px)
}

.body-pd {
    padding-left: calc(var(--nav-width) + 188px)
}

.container{
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 0;
    align-items: center;
    max-width: 13rem;
}

.short{
    max-width: 3rem;
}

.invisible_text{
    color: transparent;
}

.title{
    display: none;
    background-color: #2e323e;
    color: white;
    padding-right: 1.5rem;
    margin-top: 0.6rem;
    margin-left: 0.5rem;
    text-align: center;
}

.title_logo{
    display: table-cell;
    align-items: center;
    top: calc(50% - 10px);
    vertical-align: middle;
    min-height: 1rem;
    max-height: 2rem;
    display: none;
}
.title > h1{
    position: relative;
    top: -2.7rem;
    font-size: 0.8rem;
}

.code_input{
    min-height: 8rem;
    display: none;
}

.color1{
    background-color: #0dadbb;
}

.color2{
    background-color: #348f6e;
}

.color3{
    background-color: #0a93c1;
}

.color4{
    background-color: #991777;
}

.color5{
    background-color: #b6b864;
}

.color6{
    background-color: #1e212a;
}

.dropdown-toggle{
    color: white;
    margin-left: 2rem;
    background-color: transparent;
    border: transparent;
}

.dropdown-toggle:hover{
    color: #0a58ca;
}

.submenu{
    color: white;
    display: none;
    position: fixed;
    z-index: 10;
    left: 14rem;
    min-height: 6rem;
    padding: 0.5rem;
    border: black 0.1rem solid;
}